@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBottom {
  border-radius: 0 0 10px 10px;
}

.restaurantImg {
  clip-path: polygon(100% 0, 100% 12%, 64% 100%, 0% 100%, 0 48%, 0% 0%);
  border-radius: 10px;
  height: 100px;
  width: 130px;
}
